extends layout

block main
  include author
  .row
    .col-sm-8.blog-main
      each article in articles
        .blog-post
          h2.blog-post-title
            a(href=article.url)= article.title
          p.blog-post-meta
            span= moment.utc(article.date).format('DD/MM/YYYY')
          section
            | !{ typogr(article.intro).typogrify() }
            if article.hasMore
              p.more
                a(href=article.url) &rarr;
        //
          /.blog-post
      ul.pager
        if prevPage
          li.previous
            a(href=prevPage.url) &larr;
        else
          li.previous.disabled
            a(href='#') &larr;
        if nextPage
          li.next
            a(href=nextPage.url) &rarr;
    //
      /.blog-main
    include sidebar
  //
    /.row
