block vars
  - var bodyclass = 'home';

extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment(article.date).lang('pt-br').format('DD \\d\\e MMMM \\d\\e YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) mais »

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) &lt; Novos
    else
      a(href='/archive.html') « Arquivo
    if nextPage
      a(href=nextPage.url) Mais &gt;



